.container {
    position: relative;
    width: 500px;
    height: 300px;
    background: #000;
    border: 1px solid #AAA;
}

.dbContainer.bg {
    position: absolute;
}

.dpContainer > * {
    position: absolute;
    background: #FFF;
}
.dpContainer.bg > * {
    background: transparent;
    border-top: 2px solid #999;
}
